<ul class="recommended">
    <li>
        <a href="https://github.com/projectkudu/kudu/wiki">Overview</a>
        <p>Azure Site Extensions help you manage your Azure Websites ...</p>
    </li>
    <li>
        <a href="http://docs.nuget.org/docs/start-here/installing-nuget">Install</a>
        <p>NuGet can be installed and updated using the Visual Studio Extension Manager. To check if your copy...</p>
    </li>
</ul>
<div class="license">
    @ViewHelpers.ReleaseTag()
</div>
